html, body {
    height: 100%;
    width: 100%;
    font-family: "Kaisei Tokumin";
    background-img: url("https://www.istockphoto.com/photo/brown-smooth-wood-surface-gm1183955880-333079068?phrase=wood%20background");
  }
  
  @media screen and (min-width: 768px) {
   .carousel-item img {
   max-height: 768px;
   min-width: auto;
  }
  
   #top-wrapper {
     position:relative;  
   }
  
   #cta {
     position:absolute;
     top: 5%;
     right:5%;
     opacity: 0.75;
   }
  }